/***************** Body, Paragraph, Header Rule *****************/
body {
  background-color: #EDF1D6;
  font-family: 'Signika Negative', sans-serif;
  font-size: 18pt;
  color: #609966;
  margin: 0px;
}
p {
  font-size: 14pt;
  color: #9DC08B;
}
hr {
  border-style: none;
  border-top-style: dotted; 
  border-width: 5px;
  width: 15%;
  margin-top: 10px;
}
/***************** Navigation Bar *****************/
.nav-bar {
  background-color: #40513B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
}
.nav-logo {
  justify-content: flex-start;
  width: 4rem;
}
.logo {
  width: 100%;
}
.nav-links {
  justify-content: flex-end;
}
.nav-links a:link {
  color: #EDF1D6;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-links a:hover {
  color: #9DC08B;
}
.nav-links a:visited {
  color: #EDF1D6;
  text-decoration: none;
}
/***************** Headers *****************/
h2 {
  color:#40513B;
}
.header {
  width: 90%;
  margin-left: 5%;
}
.header .page-headers {
  text-align: center;
  color:#609966;
}
/***************** Main Content *****************/
.content-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 0;
}
.content-item {
  grid-column: 2;
  font-size: 16pt;
}
.content-name-image {
  margin: 75px auto;
  text-align: left;
}
.image-left {
  float: left;
  margin-right: 30px;
  width: 15%; 
}
.image-right {
  float: right;
  margin-right: 30px;
  width: 15%; 
}
/***************** Footer *****************/
div.bottom-container{
  margin-top: 5%;
  background-color:#3e4b37;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.footer-link {
  color:#609966;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 10px;
  text-decoration: none;
}
.footer-link:hover {
  color:#9DC08B;
}
.footer-link:visited {
  color:#609966;
  text-decoration: none;
}
.copyright {
  color: #EDF1D6;
  font-size: .75rem;
}

/***************** Home Page CSS *****************/
#profile-pic {
  width: 40%;
}
.hello-message {
  color: #3e4b37;
}
.quote {
  margin: 0 12.5%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
}
/***************** Contact Page *****************/
label{
  font-size: 14pt;
}
.comments {
  width: 80%;
  height: 10vh;
  display: block;
}
/***************** Form Submitted Page *****************/
.submit-btn {
display: inline-block;
}
.frm-sumbitted {
  width: fit-content;
  display:inline-block;
}
.smile {
  width: 20%;
}
/* Media Query to change header font size when screen is small (cell phone) */
@media screen and (max-width: 480px) {
  h1, .quote {
    font-size: 25pt;
  }
  p {
    font-size: 12pt;
  }
  .content-item {
    font-size: 12pt;
  }
  .footer-link {
    font-size: 14pt;
  }
}

/* Website Colors Scheme for Reference:
  Greens
  Dark: 40513B
  Medium: 609966
  Light: 9DC08B
  Lightest: EDF1D6
*/